#cms main {
    display: flex;
    justify-content:space-between;
    position: relative;
    padding: 1em;
}
#cms main .container {
    width: 85%;
}
#cms main nav {
    background-color: #3a92c2d7;
    float: left;
    width: max-content;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: .8em;
}

#cms main nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#cms main nav li {
    margin-bottom: 10px;
}

#cms main nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

#cms main nav a:hover {
    background-color: #ffffff30;
}
#cms .songs_platform_logos {
    height: 2em;
    width: 2em;
}
#cms .subnav {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
}

#cms .subnav a {
    display: block;
    margin-bottom: 10px;
}

#cms .subnav input[type="text"] {
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#cms .subnav input[type="submit"] {
    background-color: #3a92c2d7;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#cms .code-area {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    box-sizing: border-box;
}

#cms .code-area textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#cms .code-area input[type="submit"] {
    background-color: #3a92c2d7;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}