#cms main {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 1em;
    gap: 1em;
}

#cms main .container {
    width: 85%;
}

#cms main nav {
    background-color: #3a92c2d7;
    float: left;
    width: max-content;
    height: max-content;
    padding: .5em;
    box-sizing: border-box;
    border-radius: .8em;
}

#cms main nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#cms main nav li {
    margin-bottom: 10px;

}

#cms main nav a {
    color: #03103e;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

#cms main nav a:hover {
    background-color: #ffffff44;
}

#cms .selected {
    border-bottom: 2px solid #03103e;
    background: #e5e2e2;
}

#cms .selected:hover {
    border-bottom: 2px solid #071856;
    background: #e5e2e2d0;
}

#cms .songs_platform_logos {
    height: 2em;
    width: 2em;
}

#cms .subnav {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
}

#cms .subnav a {
    display: block;
    margin-bottom: 10px;
}

#cms .subnav input[type="text"] {
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#cms .subnav input[type="submit"] {
    background-color: #3a92c2d7;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#cms .code-area {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    box-sizing: border-box;
}

#cms .code-area textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#cms .code-area input[type="submit"] {
    background-color: #3a92c2d7;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#cms .container #photos {
    border: 2px solid rgba(0, 0, 0, 0.313);
    padding: 1em;
    box-shadow: 0px 0px 10px #03263459;
    margin-bottom: 1em;
}

#cms .container #photos h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15pt;
    line-height: 1.5;
}

#cms .container #photos h1 span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 10pt;
    line-height: 1.5;
}

#cms .photo-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 1em 0;
  }
  
#cms   .photo {
    position: relative;
    height: clamp(220px, 20vw, 293px);
    width: clamp(220px, 20vw, 293px);
    background-size: cover;
    background-position: center;
    border-radius: 1em;
  }
  #cms .drop-box {
    height: clamp(220px, 20vw, 293px);
    width: clamp(220px, 20vw, 293px);
    border: 3px dashed #1a2078;
    color: #1a2078;
    border-radius: .4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
  }
  #cms #image-input {
    display: none;
  }
#cms   .cross-sign {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }
  #cms #add-photo {
    padding: .5em 1em;
    border-radius: 1em;
    background: #3a92c2d7;
    border: 1px solid #123f57d7;
    color: #000000;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
  }
  #cms #add-photo:hover {
    background: #3a92c2c8;
    border: 1px solid #123f5788;
    color: #13043ccb;
    
  }